
.container {
  /* background-color: green; */
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  /* margin-top: 55%; */
  padding-top: calc(702/1023*100%); /* Aspect Ratio */
}

#bg
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: radial-gradient(circle at center, #ffffff 55%, #fbbfdd 100%);
}

#anchorage
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100vh;  */
}

/* -------------------------------------------------------------------------- */ 

#book
{
  --book_rotation: 23.5deg; 
  position: absolute;
  color: #3b7098;
  transform-origin: 0% 0%;
  rotate: var(--book_rotation);
  /* background-color: #39c5bb55; */
  top: 30%;
  left: 65%;
  width: 37%;
  height: 65%;  
}

#book > *
{
  position: absolute;
  transform-origin: 0% 0%;  /* set pivot at top-left corner */
}

#book > img
{  
  rotate: calc(var(--book_rotation) * -1);  /* img is already rotated */
}

#time
{    
  top: 8%;
  width: 94.87%;
}
