#bg
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 0;
  background: radial-gradient(circle at center, #ffffff 55%, #fbbfdd 100%);
}

#anchorage
{
  position: absolute;
  top: 0;
  /* left: 0; */
  height: 100vh; /* == height */
}

#book
{
  position: absolute;
  /* left: 888px; */
  top: 388px;
  font-size: 65px;
  color: #35978d;
  rotate: 24deg;
  /* font-weight: bold; */
}