#bg
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: radial-gradient(circle at center, #ffffff 55%, #fbbfdd 100%);
}

#anchorage
{
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  height: 100vh; /* == height */
}

#book
{
  --book_rotation: 23.5deg; 
  position: absolute;
  color: #3b7098;
  transform-origin: 0% 0%;
  rotate: var(--book_rotation);
  width: 487px;
  height: 630px;  
  /* font-weight: bold; */
  /* background-color: #ff000055; */
}

#book > *
{
  position: absolute;
  transform-origin: 0% 0%;
}

#book > img
{
  rotate: calc(var(--book_rotation) * -1);
}

.time
{
  rotate: calc(var(--book_rotation) * -0.5);
  font-size: 72px;
  line-height: 87%;  
}