@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
  font-family: 'Itim', fantasy;
  font-size: 4.8763vw;
  line-height: 87.63%;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: black;
}
